<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Add Songs</title>
	<link
	 href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	 rel="stylesheet"
	 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous"
	>
</head>
<body>
	<div class="jumbotron">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Songr</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" th:href="${'/albums'}">Add Album</a>
					<a class="nav-item nav-link" th:href="${'/allAlbums'}">All Albums</a>
					<a class="nav-item nav-link" th:href="${'/songs'}">Add Song</a>
					<a class="nav-item nav-link" th:href="${'/allSongs'}">All Songs</a>
				</div>
			</div>
		</nav>
		<h1>Add Song</h1>
	</div>
	
	<div class="container">
		<form method="POST" action="/songs">
			<div class="form-group row">
				<label for="title" class="col-sm-2 col-form-label">Song Title:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="title" placeholder="Song Title" name="title">
				</div>
			</div>
			<div class="form-group row">
				<label for="length" class="col-sm-2 col-form-label">Song Length:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="length" placeholder="Song Length (in minutes)" name="length">
				</div>
			</div>
			<div class="form-group row">
				<label for="trackNumber" class="col-sm-2 col-form-label">Track Number:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="trackNumber" placeholder="Track Number" name="trackNumber">
				</div>
			</div>
			<div class="form-group row">
				<label for="album" class="col-sm-2 col-form-label">Album:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="album" placeholder="Album" name="album">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<div class="container">
		<h3>Available Albums</h3>
		<div class="row">
			<div th:each="album : ${albums}">
				<a th:href="${ '/songs/ ' + album}" style="color:black; text-decoration:none">
					<ul style="list-style-type:none">
						<li><b>Album: </b><span th:text="${album.title}"></span></li>
						<li>
							<img th:src="${album.imageUrl}" alt="cover image" width="100">
						</li>
					</ul>
				</a>
			</div>
		</div>
	</div>

</body>
</html>