<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Add Albums</title>
	<link
	 href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
   rel="stylesheet"
	 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous"
	>
</head>
<body>

	<div class="jumbotron">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Songr</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" th:href="${'/albums'}">Add Album</a>
					<a class="nav-item nav-link" th:href="${'/allAlbums'}">All Albums</a>
					<a class="nav-item nav-link" th:href="${'/songs'}">Add Song</a>
					<a class="nav-item nav-link" th:href="${'/allSongs'}">All Songs</a>
				</div>
			</div>
		</nav>
		<h1>Add Album</h1>
	</div>
	
	<div class="container">
		<form method="POST" action="/albums">
			<div class="form-group row">
				<label for="title" class="col-sm-2 col-form-label">Album Title:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="title" placeholder="Album Title" name="title">
				</div>
			</div>
			<div class="form-group row">
				<label for="artist" class="col-sm-2 col-form-label">Artist:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="artist" placeholder="Artist" name="artist">
				</div>
			</div>
			<div class="form-group row">
				<label for="songCount" class="col-sm-2 col-form-label">Song Count:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="songCount" placeholder="Song Count" name="songCount">
				</div>
			</div>
			<div class="form-group row">
				<label for="length" class="col-sm-2 col-form-label">Length:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="length" placeholder="Album Length (in minutes)" name="length">
				</div>
			</div>
			<div class="form-group row">
				<label for="imageUrl" class="col-sm-2 col-form-label">Image URL:</label>
				<div class="col-sm-10">
					<input type="url" class="form-control" id="imageUrl" placeholder="Image URL" name="imageUrl">
				</div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
		
	<div class="container">
		<div class="row">
			<div th:each="album : ${albums}" class="col-4">
				<a th:href="${ '/songs/ ' + album}" style="color:black; text-decoration:none">
					<ul style="list-style-type:none">
						<li><b>Album:</b> <span th:id="${album.title}" th:text="${album.title}"></span></li>
						<li><b>Artist:</b> <span th:id="${album.artist}" th:text="${album.artist}"></span></li>
						<li><b>Song Count:</b> <span th:id="${album.songCount}" th:text="${album.songCount}"></span> songs</li>
						<li><b>Length:</b> <span th:id="${album.length}" th:text="${album.length}"></span> seconds</li>
						<li>
							<img th:src="${album.imageUrl}" alt="cover image" width="100">
						</li>
					</ul>
				</a>
			</div>
		</div>
	</div>
</body>
</html>